[Desktop Entry]
Type=Application
Version=1.0
Name=Passewall
GenericName=DPI Circumvention
Comment=Bypass deep packet inspection and network censorship
Keywords=DPI;censorship;bypass;GoodbyeDPI;privacy;proxy;SNI;DNS;
Exec=passewall
Icon=io.github.taigalinux.Passewall
Terminal=false
Categories=Network;Security;
StartupNotify=true
StartupWMClass=io.github.taigalinux.Passewall
X-GNOME-UsesNotifications=true
